.nav-enlace {
    background: salmon;
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}
.nav-enlace:hover {
    background: lightgrey;
}
nav {
    background: black;
    padding: 10px;
    display: flex;
    justify-content: space-around ;
    /*justify-content: center;
    justify-content: space-between;
    
    justify-content: flex-end ;*/

    
}

button {background: violet;
    color: whitesmoke; 
    padding: 20px;
    display: block;       
    margin: 20px; 
}
button:hover {
 background: black;
}
button:active {
     background: #008DDA;
}

.nav-boton {
    background: salmon;
    color: whitesmoke;
    padding: 10px 0;
    border: 2px solid whitesmoke;
    display: none;
}

@media (max-width: 600px)   {
    nav{background: pink;
    flex-direction: column;
    }
    .nav-enlace {margin: 5px;
                
    }
    .nav-boton {
        display: inline-block;
    }
    .desaparece {
        display: none;
    }
    
    
}
